apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    {{ toYaml .Values.labels | indent 4 }}
  ports:
  - name: app
    protocol: TCP
    port: {{ .Values.containerPort }}
    targetPort: {{ .Values.containerPort }}
